body{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    text-align: center;

}

.navbar{
    background-color: rgb(46, 234, 224);
    overflow: hidden;    
    top: 0;
    width: 100%;
    height: 15%;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

.navbar li a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: large;
}  

form{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 1em;    
    background: #fff;    
    border: 1px solid #CCC;
    border-radius: 1em;
}

table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
  }