{% extends "base.html" %}

{% block head %}{%endblock %}

{% block content %}

		
	<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

		<button type="submit" formaction="/getemp">GET EMPLOYEE INFORMATION</button>

		Employee ID:<input type="number" name="emp_id" autofocus size="40">

		First Name:<br> <input type="text" name="first_name" >

		Last Name:<br> <input type="text" name="last_name"><br><br>

		Primary Skills:<br> <input type="text" name="pri_skill"><br><br>

		Location:<br> <input type="text" name="location"><br><br>

		Image: <input type=file name="emp_image_file"> <br><br>

		<button type="submit">UPDATE DATABASE</button>

	</form>
<a href="/about">About Us</a>
{% endblock %}

	