{% extends "base.html" %}

{% block head %}{%endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">
                    SAVE SUCCESSFUL
                </span>
                <span class="login100-form-title">
                    Following Employee has been added to the database
                </span>
                <span class="login100-form-title">
                    {{ name }}
                </span>
			
				<form action="/addemp" autocomplete="on" method = "GET">
                  
                    <div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							RETURN
						</button>
					</div>
				</form>
            </div>
        </div>
    </div>
{% endblock %}
