{% extends "base.html" %}

{% block head %}{%endblock %}

{% block content %}

 <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="static/images/img-01.png" alt="IMG">
                    </div>
<h1>SAVE SUCCESSFUL</h1><br>
<h2>Following Employee has been added to the database</h2><br>
<h2>{{ name }}</h2><br>
<title>Add Emp Output</title>
<form action="/addemp" autocomplete="on" method="GET" class="login100-form validate-form">

	<div class="container-login100-form-btn">
		<button type="submit" class="login100-form-btn" >GO
		BACK</button></div><br>

</form>
			</div>
    </div>
</div></div>
{% endblock %}
