{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<center>

	<h1 style="color: Black">Employee Database</h1>

	<body bgcolor="lightgrey">
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-pic js-tilt" data-tilt>
						<img src="static/images/leave.png" alt="IMG">
					</div>

					<form action="/addleave" autocomplete="on" method="POST" enctype="multipart/form-data"
						class="login100-form validate-form">

						<div class="wrap-input100 validate-input">
							<input class="input100" type="number" name="leave_id" autofocus size="40" placeholder = "Leave ID">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-id-card" aria-hidden="true"></i>
							</span>
						</div><br>

						<div class="wrap-input100 validate-input">
							<input class="input100" type="number" name="emp_id" autofocus size="40" placeholder="Employee ID">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-id-card-o" aria-hidden="true"></i>
							</span>
						</div><br>

						<div class="wrap-input100 validate-input">
							<input class="input100" type="date" name="date" placeholder = "Date">
							<span class="focus-input100"></span>
						</div><br>

						<div class="wrap-input100 validate-input">
							<input class="input100" type="text" name="reason" placeholder = "Reason">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-wheelchair" aria-hidden="true"></i>
							</span>
						</div><br>

						Prove:<div class="wrap-input100 validate-input">
							<input type=file name="prove_file" class="inputfile100" placeholder = "Prove">
							<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="	fa fa-file-photo-o" aria-hidden="true"></i>
						</span>
						</div><br>

						<div class="container-login100-form-btn">
							<button type="submit" class="login100-form-btn">UPDATE DATABASE</button>
						</div>
					</form>

					{% endblock %}
