{% extends "base.html" %}


{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


{%endblock %}

{% block content %}
<!-- <label for="curdate" >Date:</label>
    <input type="date" name="date" id="curdate"> -->




<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="static/images/correct.jpg" alt="IMG">
            </div>
            <form action="/attendance" autocomplete="on" method="POST" enctype="multipart/form-data"
                class="login100-form validate-form">
                <h2>Today date: {{ date }}</h2>
                <label for="emp_id"></label>
                <div class="wrap-input100">
                    <span class="focus-input100">{{ message }}</span>                        
                </div>
                <div class="wrap-input100 validate-input">
                    <input type="number" id="emp_id" name="emp_id" autofocus size="40" class="input100" placeholder="Employee ID">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-id-card-o" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" id="btnattendence" class="login100-form-btn">Mark Attendence</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
