{% extends "base.html" %}

{% block content %}
    <!-- <label for="curdate" >Date:</label>
    <input type="date" name="date" id="curdate"> -->
    <h2>Today date: {{ date }}</h2>
    <form action="/attendance" autocomplete="on" method = "POST" enctype="multipart/form-data">
        <label for="emp_id">Employee Id:</label>
        <input type="text" id="emp_id" value="emp_id">

        <button type="submit" id="btnattendence">Mark Attendence</button>
        
    </form>      
    
{% endblock %}    


