{% extends "base.html" %}

{% block content %}
    <!-- <label for="curdate" >Date:</label>
    <input type="date" name="date" id="curdate"> -->
        <h2>Today date: {{ date }}</h2>
        
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Present</th>
        </tr>
        <tr>
            {{for emp in employee:}}
                <td>{{emp[0].id}}</td>
                <td>{{emp[1].name}}</td>
                <td>
                <input type="checkbox" name="present" value="present"></td>   
            {{endfor}}
        </tr>
    </table>
{% block content %}    


