<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{Title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">    
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
       <ul>
        <li><a href="{{url_for('addemp')}}">Add Employee Directory</a></li>
        <li><a href="{{url_for('viewatt')}}">View Attendance</a></li>
        <li><a href="{{url_for('takeattendance')}}">Attendance</a></li>
        <li><a href="{{url_for('leave')}}">Apply Leave</a></li>
       
       </ul> 
    </nav>
    <h1>{{Title}}</h1>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}    
</body>
</html>