<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database Authentication</h1>

		<body bgcolor="lightgrey">

			<form action="/login" autocomplete="on" method="POST" enctype="multipart/form-data">


				Admin Username:<br> <br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="admin_id"><br><br>

				Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="password" name="admin_password"><br><br>

				<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">LOGIN</button>

			</form>
		</body>

	</font>
</center>
</html>
