{% extends "base.html" %}

{% block content %}

<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="static/images/img-01.png" alt="IMG">
                    </div>

                    <form class="login100-form validate-form" action="/updateemp" autocomplete="on" method="POST" enctype="multipart/form-data">

                        <span class="login100-form-title">
                            Update Employee Details
                        </span>

                        <div class="container-login100-form-btn">
                            <button type="submit" formaction="/getemp" class="login100-form-btn">Get Employee Info</button>
                        </div><br>

                        Employee ID:<div class="wrap-input100 validate-input">
                            <input class="input100" autofocus size="40 " type="number" name="emp_id">
                        </div><br>

                        First Name:<div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="first_name">
                        </div><br>

                        Last Name:<div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="last_name">
                        </div><br>

                        Primary Skills:<div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="pri_skill">
                        </div><br>

                        Location:<div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="location">
                        </div><br>

                        Image: <div class="container-login100-form-btn"><input type=file name="emp_image_file" opacity="0" overflow="hidden" position="absolute" z-index="-1"></div><br>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">Update Employee Details</button>
                        </div>

                    </form>
    </body>			</div>
    </div>
    </div></div>
		</body>

	</font>
</center>
{% endblock %}
