{% extends "base.html" %}

{% block content %}

<center>
	<font color="black" size="4" style="font-family: avenir">

		<body bgcolor="lightgrey">

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="static/images/edit.png" alt="IMG">
                    </div>

                    <form class="login100-form validate-form" action="/updateemp" autocomplete="on" method="POST" enctype="multipart/form-data">

                        <span class="login100-form-title">
                            Update Employee Details
                        </span>

                        <div class="wrap-input100 validate-input" data-validate = "Employee ID is required">
                            <input class="input100" autofocus size="40 " type="number" name="emp_id" placeholder="Employee ID">
			    <span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-id-card-o" aria-hidden="true"></i>
						</span>
                        </div><br>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="first_name" placeholder="First Name">
			    <span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-address-card-o" aria-hidden="true"></i>
						</span>
                        </div><br>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="last_name" placeholder="Last Name">
			    <span class="focus-input100"></span>
				<span class="symbol-input100">
							<i class="fa fa-address-card-o" aria-hidden="true"></i>
						</span>
                        </div><br>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="pri_skill" placeholder="Primary Skills">
			    <span class="focus-input100"></span>
				<span class="symbol-input100">
							<i class="fa fa-flask" aria-hidden="true"></i>
						</span>
                        </div><br>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="location" placeholder="Location">
			    <span class="focus-input100"></span>
				<span class="symbol-input100"> 
							<i class="fa fa-podcast" aria-hidden="true"></i>
						</span>
                        </div><br>

                        <div class="wrap-input100 validate-input">
						<input class="inputfile100" type="file" name="emp_image_file">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="	fa fa-file-photo-o" aria-hidden="true"></i>
						</span>
					</div><br>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">Update Employee Details</button>
                        </div>

                    </form>
    </body>			</div>
    </div>
    </div></div>
		</body>

	</font>
</center>
{% endblock %}
